jieba
librosa==0.10.2
einops
tqdm
fast_langdetect>=0.3.1
split-lang
sounddevice
transformers
cn2an
pypinyin
opencc
jieba_fast
wordsegment
onnxruntime; platform_machine == "aarch64" or platform_machine == "arm64"
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
torchcodec
pyopenjtalk>=0.4.1
g2p_en
g2pk2
eunjeon
ToJyutping